# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# pytest
.pytest_cache/

# VSCode
.vscode/

# Virtual environments
venv/
env/
ENV/

# Python
*.pyc
*.pyo
*.pyd

# Data (Too big)
data/

